body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: 100;
    font-size: 40px;
}

h3 {
    font-weight: 100;
    font-size: 40px;
}

.menu {
    text-align: right;
    font-weight: 100;
}

.title-text {
    text-align: right;
}

#title-name {
    font-weight: 400;
    font-size: 70px;
}

p {
    font-weight: 100;
}

#portfolio-table, #contact-table, #about-me-table {
    text-align: right;
}
